{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="row">
        <h2>卖出股票</h2>
        <div class="widget col-md-12">
            <form method="post" enctype="multipart/form-data">
                {% if 'csrf_token' in form %}
                    {{form.csrf_token}}
                {% endif %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.company_id.label }}
                        {{ form.company_id(class = 'form-control') }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.amount.label }}
                        {{ form.amount(class = 'form-control', rows = '5') }}
                    </div>
                </div>
                <div class="text-center">
                    {{ form.submit(class = 'btn btn-primary') }}
                </div>
                <!-- <div class="text-center">
                    {{ form.cancel(class = 'btn btn-primary') }}
                </div> -->
            </form>
        </div>
    </div>
</div>
{% endblock %}
